{% load staticfiles %}
{% load video_tags %}
{% load training_tags %}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="zh"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>NowFitness - 分享健身知识</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
	<meta name="description" content="Free Responsive Html5 Css3 Templates ">
	<meta name="author" content="">
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="{% static 'training/css/zerogrid.css' %}">
	<link rel="stylesheet" href="{% static 'training/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'training/css/menu.css' %}">

	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>

</head>

<body>
<div class="wrap-body">
<header>
	<div class="top-header">
		<div class="zerogrid">
			<nav id="menu-wrap"><div id="menu-trigger">Menu</div>
				<ul id="menu" style="display: none;">
					<li><img src="{% static 'training/images/nowfitness.png' %}" alt="NowFitness"></li>
					<li><a href="/">首页</a></li>
					<li>
                        <a href="{% url 'video:video list' 0 %}">视频</a>
                        {% get_video_categories as cates %}
						<ul>
							{% for cate in cates %}
							<li>
								<a href="{% url 'video:video list' cate.number %}">{{ cate.name }}</a>
							</li>
							{% endfor %}
						</ul>
					</li>
					<li><a href="#">动态</a></li>
					<li>
						<a href="{% url 'training:program_list' 0 %}">训练</a>
						<ul>
							<li>
								<a href="{% url 'training:program_list' 0 %}">训练方案</a>
								{% get_program_types as ptypes %}
								<ul>
									{% for ptype in ptypes %}
									<li>
										<a href="{% url 'training:program_list' ptype.pk %}">{{ ptype.name }}</a>
									</li>
									{% endfor %}
								</ul>
							</li>
							<li>
								<a href="{% url 'training:exercise_list' 0 %}">动作库</a>
								{% get_exercise_types as etypes %}
								<ul>
									{% for etype, v in etypes.items %}
									<li>
										<a href="{% url 'training:exercise_list' v.1 %}">{{ etype }}</a>
										<ul>
											{% for sort in v.0 %}
											<li>
												<a href="{% url 'training:exercise_list' sort.number %}">{{ sort.sort }}</a>
											</li>
											{% endfor %}
										</ul>
									</li>
									{% endfor %}
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="#">关于我们</a></li>
					<li style="float:right !important">
						<form method="get" action="/search" id="search" class="f-right">
							<input name="q" type="text" size="40" placeholder="Search..." />
						</form>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
<section id="container">
	<div class="wrap-container">
		<div class="zerogrid">
			<div class="row">
                {% block main %}
                {% endblock main %}
			</div>
		</div>
	</div>
</section>
<footer>
	<div class="zerogrid">
		<div class="wrap-footer t-center">
			<div class="row">
				<div class="full">
					<div class="copy-right">
						<p><a href="#" />NowFitness</a>©2017</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<script type="text/javascript">
    $(function() {
		if ($.browser.msie && $.browser.version.substr(0,1)<7)
		{
		$('li').has('ul').mouseover(function(){
			$(this).children('ul').css('visibility','visible');
			}).mouseout(function(){
			$(this).children('ul').css('visibility','hidden');
			})
		}

		/* Mobile */
		$("#menu-trigger").on("click", function(){
			$("#menu").slideToggle();
		});

		// iPad
		var isiPad = navigator.userAgent.match(/iPad/i) != null;
		if (isiPad) $('#menu ul').addClass('no-transition');      
    });

    $(function() {
		$(":checkbox").before('<button type="button" class="delete-sets">×</button>');
		//$(":checkbox").hide();
        $(".addsets").click(addSets);
		$(".delete-sets").click(deleteOldSets);
	});

    function addSets(){
		var number = parseInt($(this).prev().find("input[name$='number']").val());
		if (number){
			number++;
		}else{
			number=1
		}
		var id_addsets = $(this).attr("id");
		var day = parseInt(id_addsets.replace("id_day-","").replace("-addsets",""));
		var id_total_forms = id_addsets.replace("addsets", "sets-TOTAL_FORMS");
		var id_prefix = id_addsets.replace("addsets", "sets-"+(number-1));
		var name_prefix = id_prefix.replace("id_","");
		var id_minreps = id_prefix+"-minreps"; var name_minreps = name_prefix+"-minreps";
		var id_maxreps = id_prefix+"-maxreps"; var name_maxreps = name_prefix+"-maxreps";
		var id_sets = id_prefix+"-sets"; var name_sets = name_prefix+"-sets";
		var id_rest = id_prefix+"-rest"; var name_rest = name_prefix+"-rest";
		var id_DELETE = id_prefix+"-DELETE"; var name_DELETE = name_prefix+"-DELETE";
		var id_trainingday = id_prefix+"-trainingday"; var name_trainingday = name_prefix+"-trainingday";
		var id_number = id_prefix+"-number"; var name_number = name_prefix+"-number";
        var newSets = '<tr>'+
			'<td class="col1" title="备选动作: 哑铃卧推">哑铃卧推</td>'+
			'<td class="col1">'+
			    '<input type="number" name='+name_minreps+' value="8" min="0" id='+id_minreps+'>'+
				'~<input type="number" name='+name_maxreps+' value="12" min="0" id='+id_maxreps+'>'+
			'</td>'+
			'<td class="col2"><input type="number" name='+name_sets+' value="5" min="0" id='+id_sets+'></td>'+
			'<td class="col2"><input type="number" name='+name_rest+' value="120" min="0" id='+id_rest+'></td>'+
			'<td class="col2">'+
			    '<button type="button" class="delete-sets">×</button>'+
				'<input type="hidden" name='+name_trainingday+' value='+day+' id='+id_trainingday+'>'+
				'<input type="hidden" name='+name_number+' value='+number+' id='+id_number+'>'
			'</td>'+
			'</tr>';
		var vtf = parseInt($("#"+id_total_forms).val());
		$("#"+id_total_forms).val(vtf+1);
		$("#"+id_addsets).before(newSets);
		$("#"+id_number).parent().children(".delete-sets").click(deleteNewSets);
	}

	function deleteOldSets(){
		$(this).siblings("input[name$='DELETE']").attr("checked", true);
		$(this).parent().parent().hide();
	}
	function deleteNewSets(){
		var id_total_forms = $(this).next().attr("id").split("sets")[0] + "sets-TOTAL_FORMS";
		var vtf = parseInt($("#"+id_total_forms).val());
		$("#"+id_total_forms).val(vtf-1);
		$(this).parent().parent().remove();
	}

</script>

</div>
</body>
</html>