{% extends 'training/base.html' %}
{% load training_tags %}

{% block main %}
<div id="main-content">
	<div class="wrap-content">
		<div class="row">
			{% get_exercise_types as etypes %}
		  {% get_exercise_count as all %}
			<ul class="etype">
				<li class="b">
				  {% if number == 0 %}
					<a class="on" href="{% url 'training:exercise_list' 0 %}">所有动作<span>&nbsp;{{ all }}</span></a>
					{% else %}
					<a href="{% url 'training:exercise_list' 0 %}">所有动作<span>&nbsp;{{ all }}</span></a>
					{% endif %}
				</li>
				{% for etype, v in etypes.items %}
				<li class="b">
					{% if number == v.1 %}
					<a class="on" href="{% url 'training:exercise_list' v.1 %}">{{ etype }}<span>&nbsp;{{ v.2 }}</span></a>
					{% else %}
					<a href="{% url 'training:exercise_list' v.1 %}">{{ etype }}<span>&nbsp;{{ v.2 }}</span></a>
					{% endif %}
					<ul class="sort">
						{% for sort in v.0 %}
						<li>
							{% if number == sort.number %}
							<a class="on" href="{% url 'training:exercise_list' sort.number %}">{{ sort.sort }}<span>&nbsp;{{ sort.counts }}</span></a>
							{% else %}
							<a href="{% url 'training:exercise_list' sort.number %}">{{ sort.sort }}<span>&nbsp;{{ sort.counts }}</span></a>
							{% endif %}
						</li>
						{% endfor %}
					</ul>
				</li>
				{% endfor %}
			</ul>
			<div class="category">
				<ul>
					{% for exercise in exercise_list %}
					<li>
						<a href="#">{{ exercise.name }}</a>
					</li>
					{% empty %}
					<li>暂时没有训练方案！</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="row">
			{% if is_paginated %}
			<div class="pagination">
			  {% if first %}
				<a href="?page=1">1</a>
			  {% endif %}
			  {% if left %}
				{% if left_has_more %}
					<span>...</span>
				{% endif %}
				{% for i in left %}
					<a href="?page={{ i }}">{{ i }}</a>
				{% endfor %}
			  {% endif %}
			  <a class="current-page" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
			  {% if right %}
				{% for i in right %}
					<a href="?page={{ i }}">{{ i }}</a>
				{% endfor %}
				{% if right_has_more %}
					<span>···</span>
				{% endif %}
			  {% endif %}
			  {% if last %}
				<a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
			  {% endif %}
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock main %}
