{% extends 'training/base.html' %}

{% block main %}
	<div id="main-content" class="col-2-3">
		<div class="wrap-content">
			<div class="row">
				<div class="current-nav">
					<a href="/">首页</a>
					<span>&gt;</span>
					<a href="{% url 'training:program list' 0 %}">训练方案</a>
					<span>&gt;</span>
					<a href="{% url 'training:program list' 0 %}">{{ program.ptype }}</a>
				</div>
			</div>
			<div class="row">
				<div class="program">
					<div class="name"><a name="name">{{ program.name }}</a></div>
					<div class="info">
						周期: {{ program.cycle }}天&nbsp;&nbsp;
						类型: <a href="{% url 'training:program list' 0 %}">{{ program.ptype }}</a>&nbsp;&nbsp;
						创建者: <a href="#">{{ program.creator }}</a>
					</div>
					<div class="description">{{ program.description }}</div>
					<form action="" method="post">
						{% csrf_token %}
						{{ form.as_ul }}
						<input type="submit" value="Submit" />
					</form>
				    {% for training_day in program.trainingday_set.all %}
				    <div class="training-day">
						<p><a name="{{ training_day.day }}">Day {{ training_day.day }} {{ training_day.name }}</a></p>
						<table>
							<tr>
								<td class="col1">动作</td><td class="col2">RM</td>
								<td class="col2">组数</td><td class="col2">休息/s</td>
							</tr>
							{% for weight_sets in training_day.weightsets_set.all %}
						    <tr>
						        <td class="col1">{{ weight_sets.exercises.all.0 }}</td>
						        <td class="col2">{{ weight_sets.minreps }}~{{ weight_sets.maxreps }}</td>
								<td class="col2">{{ weight_sets.sets }}</td>
						        <td class="col2">{{ weight_sets.rest }}</td>
					        </tr>
							{% empty %}
							<tr>
								<td class="col1">/</td><td class="col2">/</td><td class="col2">/</td><td class="col2">/</td>
							</tr>
							{% endfor %}
					    </table>
					</div>
				    {% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div id="sidebar" class="col-1-3">
		<!-- Start Widget -->
		<div class="widget wid-directory">
			<div class="wid-header">
				<h5>目录</h5>
			</div>
			<div class="wid-content">
				<div class="directory">
					<h5 class="name"><a href="#name">{{ program.name }}</a></h5>
					<ul class="day">
						{% for training_day in program.trainingday_set.all %}
						<li>
							<a href="#{{ training_day.day }}">
								Day {{ training_day.day }} {{ training_day.name }}
							</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock main %}