
/* ---------------------------------------------------------------------------- */
/* ------------------------------------Reset----------------------------------- */
/* ---------------------------------------------------------------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,tbody,tfoot,thead,th,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;} img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

/**:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}*/

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

a{color: #222;text-decoration: none;}
a:hover {color: #A161BF; text-decoration: none;}

h1, h2 , h3	{font-size: 25px;line-height: 25px;margin: 25px 0;}
h4, h5, h6	{font-size: 16px;line-height: 16px;}

p{margin: 10px 0;}

.t-center{text-align: center;}
.t-left{text-align: left;}
.t-right{text-align: right;}
.f-right{float: right;}
.f-left{float: left;}

input[type="text"]{
	border: 1px solid #ccc;
	padding: 10px;
	margin-top: 10px;
	-webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
html, body {width:100%; padding:0; margin:0;}
body {color: #3F3F3F;font: 14px/25px Arial;font-family: 'Microsoft YaHei', '华文细黑', '宋体', Georgia, Sans-serif;letter-spacing: 1px;}
body .wrap-body{}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Header--------------------------------- */
/* ---------------------------------------------------------------------------- */

header{}
header .top-header{border-bottom: 1px solid #eee;}
header .tagline {color: #1C202A;font-family: 'Microsoft YaHei', '华文细黑', '宋体', Georgia, Sans-serif;}
header #search {margin: auto;}
header #search input[type="text"] {
    background: url(../images/search-dark.png) no-repeat 10px 6px #fff;
    border: 0 none;
    font: bold 12px 'Microsoft YaHei', '华文细黑', '宋体', Georgia, Sans-serif;
    color: #222;
    width: 200px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
	border: 1px solid transparent;
}
header #search input:focus{border: 1px solid #333;}
header .cat-title{border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;padding: 30px 0;font-size: 18px;}
	
.zoom-container {
	position: relative;
	overflow: hidden;
	display: inline-block;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 5px 0;
}
.zoom-container img {
	display: block;
	width: 100%;
	height: auto;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
	
}
.zoom-container .zoom-caption {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}
.zoom-container .zoom-caption i.icon-play {
	display: block;
	text-align: center;
	font-size: 17px;
	letter-spacing: -1px;
	color: #fff;
	margin: 22% auto 0;
	padding: 10px 0;
	background-color: rgba(17, 17, 17, 0.8);
	max-width: 48px;
	padding: 8px 5px;
	border-radius: 8px;
}
.zoom-container .zoom-caption i.icon-play:hover {
	background-color: rgba(210, 0, 0, 0.9);
}
.zoom-container:hover img {
	-webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
.zoom-container:hover .zoom-caption {
	background: rgba(0, 0, 0, .5);
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Container------------------------------ */
/* ---------------------------------------------------------------------------- */
#container { background-color:#f4f5f7; }
#container .most-viewed .zoom-container .zoom-caption i.icon-play{max-width: 60px;font-size: 24px;margin: 25% auto 0;}

/* ---MainContent-Article--- */
#main-content{margin-top: 10px;}
#main-content .wrap-content{background-color: white; padding-bottom: 50px; border: 1px solid #eee; border-radius: 4px;}

.current-nav {padding-bottom: 5px; border-bottom: 1px solid #A161BF;  margin: 20px 25px 5px;}

.program { margin: 20px 30px; }
.program .name { padding: 20px 10px;  font-size: 24px; }
.program .info { padding: 0 10px 10px; font-size: 14px; }
.program .edit { float: right;  }
.program .description { padding: 10px 10px; white-space: pre-wrap; font-size: 13px; border-top: 1px solid #ccc;}
.program .training-day { padding: 20px 0; text-align: center; font-size: 17px;}
.program .training-day table { margin: auto; width: 80%; border-collapse: collapse; font-size: 15px;}
.program .training-day table tr { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; transition: all 0.1s ease-in;}
.program .training-day table tr:nth-child(odd) { background-color: #f9f9f9;}
.program .training-day table tr:hover { background-color: rgb(174, 138, 196); color: white;}
.program .training-day table td { text-align: center; padding: 7px 0;}
.program .training-day table .col1 { width: 50%; }
.program .training-day table .col2 { width: 16.66%; }
.program form { margin: 10px 10px;}
.program form #id_name { display: block; }
.program form #id_cycle { display: inline-block; width: 30px; margin: 10px 20px; border: 1px solid #ccc; border-radius: 5px; padding: 2px; }
.program form #id_ptype, #id_creator { display: inline-block; margin: 10px 20px;}
.program form #id_description { display: block; width: 95%; border: 1px solid #ccc; border-radius: 5px; padding: 10px;}

.program form label[for=id_cycle], label[for=id_ptype], label[for=id_creator] { line-height: 40px; }
.program form label[for=id_description] { display: block; }

.category { margin: 20px 30px; }
.category li { font-size: 17px; }

.category-bar { border-bottom: 1px solid #e5e9ef; margin: 0 20px; padding-top: 20px; font-size: 15px;}
.category-bar li {display: inline-block;}
.category-bar a {padding: 3px 10px;}
.category-bar span {font-size: 10px; color: gray;}
.category-bar .on {border-bottom: 1px solid #A161BF;}
.new {float: right; margin: 0 10px;}

.etype { margin: 0 20px; padding-top: 20px; font-size: 15px; }
.etype .b { border-bottom: 1px solid #e5e9ef; padding: 10px 0;}
.etype a { margin: 5px 5px; padding: 2px 7px;}
.etype span {font-size: 10px; color: gray;}
.etype .on { border: 1px solid #A161BF; border-radius: 5px; color: white; background-color: #A161BF;}
.etype .on span { color: white;}
.etype .sort { padding: 10px 30px 0; }
.etype .sort li {display: inline-block; }

.pagination {margin-top: 25px; text-align: center;}
.pagination a {
  display: inline-block;
  line-height: 38px;
  padding: 0 15px;
  margin-right: 4px;
  text-align: center;
  background-color: #fff;
  user-select: none;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #d7dde4;
  border-radius: 4px;
  transition: all .2s ease-in-out;
}
.pagination a:hover {
  color: #A161BF;
  border: 1px solid #A161BF;
}
.pagination .current-page {color: white; background-color: #A161BF;}
.pagination .current-page:hover {
  color: white;
  border: 1px solid #A161BF;
}
.pagination span {
  display: inline-block;
  font-size: 20px;
  line-height: 38px;
  padding: 0 8px;
  margin-right: 4px;
}

/* ---Sidebar-Widget--- */
#sidebar{
  margin-top: 10px;
}
#sidebar .wrap-sidebar{margin: 0px 10px ;}

.widget {
  background-color: white;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px 20px;
  border: 1px solid #eee;
  border-radius: 4px;
}
.widget:after, .widget:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.widget .wid-header  {padding-top: 10px; padding-bottom: 10px; text-transform: uppercase;}
.widget .wid-header h5 {font-weight: 500; font-size: 17px;}

.wid-about img{max-width: 360px; display: block; margin: auto}

.directory {border-top: thin solid #e5e9ef; margin-bottom: 20px; display: inline-block; text-align: left; width: 100%;}
.directory:last-child {margin-bottom: 0;}
.directory:after, .directory:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
.directory .name {margin: 20px 0 15px; font-size: 17px;}
.directory .name a:hover {color: #A161BF;}
.directory .day {font-size: 15px;}
.directory .day li { padding: 5px 20px; }

/* ---------------------------------------------------------------------------- */
/* --------------------------------------Footer-------------------------------- */
/* ---------------------------------------------------------------------------- */
footer{background-color:#F2F2F2;padding: 65px 0 45px;color: #666;}
