<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="zh"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>NowFitness - 分享健身知识</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates ">
	<meta name="author" content="">
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="../../static/video/css/zerogrid.css">
	<link rel="stylesheet" href="../../static/video/css/style.css">
	<link rel="stylesheet" href="../../static/video/css/menu.css">
	<link rel="stylesheet" href="../../static/video/css/responsiveslides.css">
	<!--<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css">-->
    <script src="../../static/video/js/jquery183.min.js"></script>
    <script src="../../static/video/js/responsiveslides.min.js"></script>
    <script>
		// You can also use "$(window).load(function() {"
		$(function () {
		  // Slideshow 
		  $("#slider").responsiveSlides({
			auto: true,
			pager: false,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			before: function () {
			  $('.events').append("<li>before event fired.</li>");
			},
			after: function () {
			  $('.events').append("<li>after event fired.</li>");
			}
		  });
		});
	</script>
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="../../static/video/js/html5.js"></script>
		<script src="../../static/video/js/css3-mediaqueries.js"></script>
	<![endif]-->
    
</head>

<body>
<div class="wrap-body">

<!--////////////////////////////////////Header-->
<header>
	<div class="top-header">
		<div class="zerogrid">
			<nav id="menu-wrap"><div id="menu-trigger">Menu</div>
				<ul id="menu" style="display: none;">
					<li><img src="../../static/video/images/nowfitness.png" alt="NowFitness"></li>
					<li><a href="#">首页</a></li>
					<li>
						<a href="#">视频</a>
						<ul>
							<li>
								<a href="#">训练方案</a>
							</li>
							<li>
								<a href="#">动作教学</a>
							</li>
							<li>
								<a href="#">健身知识</a>
							</li>
							<li>
								<a href="#">饮食</a>
							</li>
							<li>
								<a href="#">综合</a>
								<ul>
									<li><a href="#">日常</a></li>
									<li><a href="#">硬广</a></li>
									<li><a href="#">杂谈</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="#">动态</a></li>
					<li><a href="#">关于我们</a></li>
					<li style="float:right !important">
						<form method="get" action="/search" id="search" class="f-right">
							<input name="q" type="text" size="40" placeholder="Search..." />
						</form>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<!--<div class="clearfix">
		<div class="wrap-header">
			<div class="row">
				<div class="col-full t-center">
					<div class="wrap-col">
						<div class="logo"><a href="#">
							<img src="../../static/video/images/nowfitness.png" alt="NowFitness">
							<img src="../../static/video/images/logo.png"/>
						</a></div>
						<div class="tagline">讲科学  有个性  正能量</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="slider">
			<!-- Slideshow ->
			<div class="callbacks_container">
				<ul class="rslides" id="slider">
					<li>
						<a href="#"><img src="../../static/video/images/1.jpg" alt=""></a>
					</li>
					<li>
						<a href="#"><img src="../../static/video/images/2.jpg" alt=""></a>
					</li>
					<li>
						<a href="#"><img src="../../static/video/images/3.jpg" alt=""></a>
					</li>
				</ul>
			</div>
		</div>
	</div>-->
</header>

<section id="container">
	<div class="wrap-container">
		<div class="zerogrid">
			<div class="row">
				<div id="main-content" class="col-2-3">
					<div class="wrap-content">
						<div class="row">
							<div class="video-player">
								<div class="video-header">
									<div class="video-title">
										<a href="https://www.bilibili.com/video/av16570718/">【Kevin自怼】我原来这么煞笔？！（精彩必看）</a>
									</div>
									<span>2017-11-23 18:00 作者: Kevin</span>
								</div>
								<div class="video-content">
									<div class="zoom-container">
										<iframe id="b" class="b video_pc" src="http://static.hdslb.com/miniloader.swf?aid=16570718&page=1" frameborder="0" height="600" width="800"></iframe>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="categroy">
									<p>最近更新</p>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16505826/">【独家推荐】这本健身书，你不看会后悔！（公告）</a>
												</div>
												<span>2017-11-20</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16505826/">
														<img src="../../static/video/images/6.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16413425">【人体极限】你最多，能长多少肌肉？（附公式）</a>
												</div>
												<span>2017-11-18</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16413425">
														<img src="../../static/video/images/7.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16320355/">【破谣专场】拉伸能瘦腿？你咋不上天？</a>
												</div>
												<span>2017-11-15</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16320355/">
														<img src="../../static/video/images/8.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16187173/">【黑名单】这个动作，别再浪费时间练了！</a>
												</div>
												<span>2017-11-10</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16187173/">
														<img src="../../static/video/images/9.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="categroy">
									<p>训练方案</p>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16505826/">【独家推荐】这本健身书，你不看会后悔！（公告）</a>
												</div>
												<span>2017-11-20</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16505826/">
														<img src="../../static/video/images/6.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16413425">【人体极限】你最多，能长多少肌肉？（附公式）</a>
												</div>
												<span>2017-11-18</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16413425">
														<img src="../../static/video/images/7.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16320355/">【破谣专场】拉伸能瘦腿？你咋不上天？</a>
												</div>
												<span>2017-11-15</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16320355/">
														<img src="../../static/video/images/8.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16187173/">【黑名单】这个动作，别再浪费时间练了！</a>
												</div>
												<span>2017-11-10</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16187173/">
														<img src="../../static/video/images/9.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="categroy">
									<p>动作教程</p>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16505826/">【独家推荐】这本健身书，你不看会后悔！（公告）</a>
												</div>
												<span>2017-11-20</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16505826/">
														<img src="../../static/video/images/6.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16413425">【人体极限】你最多，能长多少肌肉？（附公式）</a>
												</div>
												<span>2017-11-18</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16413425">
														<img src="../../static/video/images/7.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16320355/">【破谣专场】拉伸能瘦腿？你咋不上天？</a>
												</div>
												<span>2017-11-15</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16320355/">
														<img src="../../static/video/images/8.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16187173/">【黑名单】这个动作，别再浪费时间练了！</a>
												</div>
												<span>2017-11-10</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16187173/">
														<img src="../../static/video/images/9.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="categroy">
									<p>健身知识</p>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16505826/">【独家推荐】这本健身书，你不看会后悔！（公告）</a>
												</div>
												<span>2017-11-20</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16505826/">
														<img src="../../static/video/images/6.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16413425">【人体极限】你最多，能长多少肌肉？（附公式）</a>
												</div>
												<span>2017-11-18</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16413425">
														<img src="../../static/video/images/7.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16320355/">【破谣专场】拉伸能瘦腿？你咋不上天？</a>
												</div>
												<span>2017-11-15</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16320355/">
														<img src="../../static/video/images/8.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16187173/">【黑名单】这个动作，别再浪费时间练了！</a>
												</div>
												<span>2017-11-10</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16187173/">
														<img src="../../static/video/images/9.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="categroy">
									<p>饮食</p>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16505826/">【独家推荐】这本健身书，你不看会后悔！（公告）</a>
												</div>
												<span>2017-11-20</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16505826/">
														<img src="../../static/video/images/6.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16413425">【人体极限】你最多，能长多少肌肉？（附公式）</a>
												</div>
												<span>2017-11-18</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16413425">
														<img src="../../static/video/images/7.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16320355/">【破谣专场】拉伸能瘦腿？你咋不上天？</a>
												</div>
												<span>2017-11-15</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16320355/">
														<img src="../../static/video/images/8.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16187173/">【黑名单】这个动作，别再浪费时间练了！</a>
												</div>
												<span>2017-11-10</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16187173/">
														<img src="../../static/video/images/9.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="categroy">
									<p>综合</p>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16505826/">【独家推荐】这本健身书，你不看会后悔！（公告）</a>
												</div>
												<span>2017-11-20</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16505826/">
														<img src="../../static/video/images/6.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16413425">【人体极限】你最多，能长多少肌肉？（附公式）</a>
												</div>
												<span>2017-11-18</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16413425">
														<img src="../../static/video/images/7.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16320355/">【破谣专场】拉伸能瘦腿？你咋不上天？</a>
												</div>
												<span>2017-11-15</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16320355/">
														<img src="../../static/video/images/8.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col">
										<article>
											<div class="art-header">
												<div class="entry-title">
													<a href="https://www.bilibili.com/video/av16187173/">【黑名单】这个动作，别再浪费时间练了！</a>
												</div>
												<span>2017-11-10</span>
											</div>
											<div class="art-content">
												<div class="zoom-container">
													<a href="https://www.bilibili.com/video/av16187173/">
														<img src="../../static/video/images/9.png" />
													</a>
												</div>
											</div>
										</article>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="sidebar" class="col-1-3">
					<!-- Start Widget -->
					<div class="widget wid-about">
						<div class="wid-header">
							<h5>关于Kevin</h5>
						</div>
						<div class="wid-content">
							<img src="../../static/video/images/11.jpg" />
							<p>创办了运动视频自媒体NowFitness，增肌减脂，力量训练，饮食营养，人体机能 —— 实践加科学，只分享干货。</p>
						</div>
					</div>
					<!-- Start Widget -->
					<div class="widget wid-follow">
						<div class="wid-header">
							<h5>关注NowFitness</h5>
						</div>
						<div class="wid-content">
							<ul class="quick-link">
								<li>
									<a href="https://space.bilibili.com/95083523"><img src="../../static/video/images/bilibili.svg" /></a>
								</li>
								<li>
									<a href=""><img src="../../static/video/images/wechat.svg" /></a>
									<div class="erweima">
										<p>扫码关注微信</p>
										<img src="../../static/video/images/weixinerweima.png" />
									</div>
								</li>
								<li>
									<a href="https://weibo.com/nowfitness?refer_flag=0000015010_&from=feed&loc=avatar">
										<img src="../../static/video/images/weibo.svg" />
									</a>
									<div class="erweima">
										<p>扫码关注微博</p>
										<img src="../../static/video/images/weiboerweima.jpg" />
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- Start Widget -->
					<div class="widget wid-microblog">
						<div class="wid-header">
							<h5>微博动态</h5>
						</div>
						<div class="wid-content">
							<div class="microblog">
								<h5 class="wid-name"><a href="https://weibo.com/nowfitness?refer_flag=0000015010_&from=feed&loc=avatar">NowFitness_Kevin</a></h5>
								<div class="info">
									<span>2017/11/24</span> 
									<p>今天是感恩节后的黑色星期五，Myprotein当然又有优惠活动。虽说双十一刚过，知道各位刚剁完手，但还是把活动信息传达到位，有兴趣的可以自行购买：<br/>
										<br/>	
										1、活动时间是今天到周日，活动店铺是MyProtein天猫海外店；<br/>
										2、跟客服（选人工）说【凯文黑五】，能获得满200-50优惠券，全场适用；<br/>
										3、订单满999元，跟客服说，会送一个价值800元的黑五礼盒；<br/>
										4、此外，店铺还有其他礼券活动，可在首页查看。<br/>
										<br/>剁手快乐！<br/>
									</p>
								</div>
							</div>
							<div class="microblog">
								<h5 class="wid-name"><a href="https://weibo.com/nowfitness?refer_flag=0000015010_&from=feed&loc=avatar">NowFitness_Kevin</a></h5>
								<div class="info">
									<span>2017/11/23</span> 
									<p>【Kevin自怼】我原来这么煞笔？！（精彩必看）<br/>
										<br/>
										大家好，是我Kevin：）<br/>
										<br/>	
										万众瞩目的【Kevin自怼】，终于上线了！！！<br/>
										<br/>
										本期推送中，我会回顾NowFitness成立以来，推出过的每一期视频，并一一指出有错误或争议的片段，给予修正，外加自我批斗。<br/>
										<br/>
										总之，如果你想看满满15分钟的，Kevin式自我羞辱，那来对地方了。不多做介绍了，本期必看就对了！<br/>
									</p>
								</div>
							</div>
							<div class="microblog">
								<h5 class="wid-name"><a href="https://weibo.com/nowfitness?refer_flag=0000015010_&from=feed&loc=avatar">NowFitness_Kevin</a></h5>
								<div class="info">
									<span>2017/11/22</span> 
									<p>跟合作伙伴@Team腹愁者的日常🙄🙄<br/>
										<br/>
										大家别忘了这家过气的蛋白棒啊！报我名字全场9折呀！哇咔咔咔咔咔！ ​​​​<br/>
									</p>
									<img src="https://wx3.sinaimg.cn/mw690/006H1Ltygy1flqjvh8q58j30kt0sk0ur.jpg" width="360" /><br/>
									<img src="https://wx2.sinaimg.cn/mw690/006H1Ltygy1flqjvil1d9j30ku0me0uo.jpg" width="360" /><br/>
									<img src="https://wx1.sinaimg.cn/mw690/006H1Ltygy1flqjvk9yizj30kd0kq0v1.jpg" width="360" /><br/>
									<img src="https://wx2.sinaimg.cn/mw690/006H1Ltygy1flqjvm1bdbj30ku0q2q4w.jpg" width="360" />
								</div>
							</div>
							<div class="microblog">
								<h5 class="wid-name"><a href="https://weibo.com/nowfitness?refer_flag=0000015010_&from=feed&loc=avatar">NowFitness_Kevin</a></h5>
								<div class="info">
									<span>2017/11/21</span> 
									<p>我是不是该跟商家要个回扣啥的？ ​​​​
									</p>
									<img src="https://wx4.sinaimg.cn/mw690/006H1Ltygy1flpc6lno1mj30fu0fwjt8.jpg" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<footer>
	<div class="zerogrid">
		<div class="wrap-footer t-center">
			<div class="row">
				<div class="full">
					<div class="copy-right">
						<p><a href="#" />NowFitness</a>©2017</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>


<script type="text/javascript">
    $(function() {
		if ($.browser.msie && $.browser.version.substr(0,1)<7)
		{
		$('li').has('ul').mouseover(function(){
			$(this).children('ul').css('visibility','visible');
			}).mouseout(function(){
			$(this).children('ul').css('visibility','hidden');
			})
		}

		/* Mobile */
		$("#menu-trigger").on("click", function(){
			$("#menu").slideToggle();
		});

		// iPad
		var isiPad = navigator.userAgent.match(/iPad/i) != null;
		if (isiPad) $('#menu ul').addClass('no-transition');      
    });
</script>

</div>
</body></html>