{% extends 'video/base.html' %}
{% load video_tags %}

{% block main %}
<div id="main-content">
	<div class="wrap-content">
		<div class="row">
			{% get_video_categories as cates %}
			{% get_video_count as all %}
			<ul class="category-bar">
				{% if number == 0 %}
				<li>
					<a class="on" href="{% url 'video:video list' 0 %}">所有视频<span>&nbsp;{{ all }}</span></a>
					{% else %}
					<a href="{% url 'video:video list' 0 %}">所有视频<span>&nbsp;{{ all }}</span></a>
					{% endif %}
				</li>
				{% for cate in cates %}
				{% if number == cate.number %}
				<li>
					<a class="on" href="{% url 'video:video list' cate.number %}">{{ cate.name }}<span>&nbsp;{{ cate.counts }}</span></a>
					{% else %}
					<a href="{% url 'video:video list' cate.number %}">{{ cate.name }}<span>&nbsp;{{ cate.counts }}</span></a>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			<div class="category">
				{% for video_list_raw in video_list %}
				<div class="row">
					{% for video in video_list_raw %}
					<div class="col-1-6">
						<div class="wrap-col">
							<article>
								<div class="art-content">
									<div class="zoom-container">
										<a href="{{ video.get_absolute_url }}">
											<img src="{{ video.cover.url }}" />
										</a>
									</div>
								</div>
								<div class="art-header">
									<div class="entry-title">
										<a href="{{ video.get_absolute_url }}">{{ video.title }}</a>
									</div>
									<span>{{ video.pub_date }}</span>
								</div>
							</article>
						</div>
			    	</div>
					{% endfor %}
				</div>
				{% empty %}
				<div class="no-video">暂时没有视频！</div>
				{% endfor %}
			</div>
		</div>
		<div class="row">
			{% if is_paginated %}
			<div class="pagination">
			  {% if first %}
				<a href="?page=1">1</a>
			  {% endif %}
			  {% if left %}
				{% if left_has_more %}
					<span>...</span>
				{% endif %}
				{% for i in left %}
					<a href="?page={{ i }}">{{ i }}</a>
				{% endfor %}
			  {% endif %}
			  <a class="current-page" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
			  {% if right %}
				{% for i in right %}
					<a href="?page={{ i }}">{{ i }}</a>
				{% endfor %}
				{% if right_has_more %}
					<span>···</span>
				{% endif %}
			  {% endif %}
			  {% if last %}
				<a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
			  {% endif %}
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock main %}