{% extends 'base.html' %} {% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="white-board ariticle-detail">
                <div class="breadcrumb-nav">
                    <a href="/">首页</a> &gt;
                    <a href="/">文章</a> &gt;
                    <a href="{% url 'blog:category' article.category.pk %}">
                        {{ article.category }}
                    </a>
                </div>
                <article>
                    {% if article.cover %}
                    <div class="cover">
                        <img src="{{ article.cover.url }}">
                    </div>
                    {% endif %}
                    <h1 class="title">{{ article.title }}</h1>
                    <div class="meta">
                        {{ article.pub_date }}
                        &emsp;{{ article.views }} 阅读&emsp;
                        <a href="#comment">
                            {{ article.comment_set.count }} 评论
                        </a>&emsp;分类:&nbsp;
                        <a href="{% url 'blog:category' article.category.pk %}">
                            {{ article.category }}
                        </a>&emsp;标签:
                        {% for tag in article.tags.all %}
                        <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>&emsp;
                        {% endfor %}
                    </div>
                    <div class="content">
                        {{ article.content|safe }}
                    </div>
                </article>
                <div id='comment'>
                <form action="{% url 'blog:article-comment' article.pk %}" method="post" class="comment-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4">
                            <label for="{{ form.user.id_for_label }}">用户名：</label>
                            {{ form.user }} {{ form.user.errors }}
                        </div>
                        <div class="col-lg-12">
                            <label for="{{ form.content.id_for_label }}">评论：</label>
                            {{ form.content }} {{ form.content.errors }}
                            <button type="submit" class="comment-btn">发表</button>
                        </div>
                    </div>
                    <!-- row -->
                </form>
                <ul class="comment-list list-unstyled">
                    {% for comment in comment_list %}
                    <li class="comment-item">
                        <span class="nickname">{{ comment.user }}</span>
                        <time class="submit-date">{{ comment.pub_date }}</time>
                        <div class="content">
                            {{ comment.content }}
                        </div>
                    </li>
                    {% empty %} 暂无评论 {% endfor %}
                </ul></div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="white-board widget">
                <div class="titile">
                    <h5>关于Fossen</h5>
                </div>
                <div>
                    <p>不知道写些什么。。。</p>
                </div>
            </div>
            <div class="white-board widget">待定</div>
        </div>
    </div>
</div>
{% endblock main %}