
a{color: black;text-decoration: none;}
a:hover {color: #0070C0;text-decoration: none;}

body {
    color: #17375E; background-color:#f4f5f7; 
    font-family: 'Microsoft YaHei', '华文细黑', '宋体', Georgia, Sans-serif;
}

header { background-color: white; }
#menu { list-style: none; padding: 0; width: 100%; }
.logo { font-size: 30px; margin: auto 30px; }
#menu li { position: relative; white-space: nowrap; }
#menu>li { padding: 0; margin: auto 15px; }
#menu a { color: #17375E; }
#menu li:hover>a { color: #0070C0; }
#menu ul {
    margin: 0; padding: 0;
    opacity: 0; visibility: hidden; position: absolute;
    top: 50px; left: 0; z-index: 1; background: #fff;
    transition: all .2s ease-in-out;
}
#menu li:hover > ul { opacity: 1; visibility: visible; }
#menu ul ul { top: 0; left: 130px; margin: 0 0 0 20px; }
#menu ul li { padding: 5px 10px; width: 150px; float: none; display: block; border-bottom: 1px solid lightgray;}
#menu ul li:hover { background-color: #17375E; }
#menu ul li:hover>a { color: white; }
#menu ul li:first-child { border-radius: 3px 3px 0 0; }
#menu ul li:first-child:before {
    content: '';position: absolute;left: 40px;top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ccc;
}
#menu ul li:first-child:hover:before { border-bottom-color: #17375E; }
#menu ul ul li:first-child:before {
    left: -6px; top: 12px;
    border-left: 0;	
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #fff;
}
#menu ul ul li:first-child:hover:before { border-right-color: #17375E; }
#menu ul li:last-child { border-bottom: none; border-radius: 0 0 3px 3px; }
#menu>li:last-child { display: flex; align-items:center; justify-content: flex-end; width: 100%; }
#search {  }
#search input[type="text"] {
    background: url(/static/public/images/search-dark.png) no-repeat 8px 8px #fff;
    width: 0px; padding: 6px 15px 6px 15px;
    border-radius: 20px; border: 1px solid transparent;
    transition: all 0.7s ease 0s; outline: 0; font-size: 12px;
}
#search input:focus{ width: 200px; border: 1px solid #333; padding-left: 30px;}
#userbar { margin: 0 20px; }



section { margin: 10px 0; }

footer { background-color:white; }
.copy-right { text-align: center; }

