/* ------------------------------------------------------------------------- */
/* -------------------------------------Commen------------------------------ */
/* ------------------------------------------------------------------------- */

a { color: #17375E; text-decoration: none; }
a:hover { color: #0070C0; text-decoration: none; }
img { max-width: 100%; height: auto; border-radius: 5px; }

body {
    color: #17375E; background-color:#f4f5f7; 
    font-family: 'Microsoft YaHei', '华文细黑', '宋体', Georgia, Sans-serif;
}

/* ------------------------------------------------------------------------- */
/* -------------------------------------Header------------------------------ */
/* ------------------------------------------------------------------------- */

header { background-color: white; box-shadow: 0 1px 3px #ccc; }
#menu { list-style: none; padding: 0; width: 100%; }
.logo { font-size: 30px; margin: auto 30px; }
#menu li { position: relative; white-space: nowrap; }
#menu>li { padding: 0; margin: auto 15px; }
#menu a { color: #17375E; }
#menu li:hover>a { color: #0070C0; }
#menu ul {
    margin: 0; padding: 0; box-shadow: 1px 1px 3px #ccc;
    opacity: 0; visibility: hidden; position: absolute;
    top: 36px; left: -10px; z-index: 1; background: white;
    transition: all .2s ease-in-out;
}
#menu li:hover>ul { opacity: 1; visibility: visible; }
#menu ul ul { top: 0; left: 150px; }
#menu ul li { padding: 5px 10px; width: 150px; float: none; display: block; border-bottom: 1px solid lightgray;}
#menu ul li:hover { background-color: rgb(19, 58, 105); }
#menu ul li:hover>a { color: white; }
#menu ul li:first-child { border-radius: 3px 3px 0 0; }
#menu ul li:first-child:before {
    content: ''; position: absolute; left: 20px; top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ccc;
}
#menu ul li:first-child:hover:before { border-bottom-color: #17375E; }
#menu ul ul li:first-child:before {
    left: -6px; top: 12px; border-left: 0;	
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #fff;
}
#menu ul ul li:first-child:hover:before { border-right-color: #17375E; }
#menu ul li:last-child { border-bottom: none; border-radius: 0 0 3px 3px; }
#menu>li:last-child { display: flex; align-items:center; justify-content: flex-end; width: 100%; }

#search input[type="text"] {
    background: url(/static/public/images/search-dark.png) no-repeat 8px 8px #fff;
    width: 0px; padding: 6px 15px 6px 15px;
    border-radius: 20px; border: 1px solid transparent;
    transition: all 0.7s ease 0s; outline: 0; font-size: 12px;
}
#search input:focus{ width: 200px; border: 1px solid #333; padding-left: 30px;}
#userbar { margin: 0 10px; }
#userbar a { margin: 0 5px; }
#userbar a:hover { color: #0070C0; }

/* ------------------------------------------------------------------------- */
/* -------------------------------------main-------------------------------- */
/* ------------------------------------------------------------------------- */

main { margin: 10px 0; }
.white-board { margin: 5px -10px; padding: 10px; background-color: white; border-radius: 5px; box-shadow: 0 1px 3px #ccc; }
.breadcrumb-nav { padding: 10px; border-bottom: 1px solid lightgray; }

.ariticle-list .list-title { padding: 10px; }
.ariticle-list article { padding: 10px; border-top: 1px solid lightgray; }
.ariticle-list .info { margin: auto 0; }
.ariticle-list .title { font-size: 21px; text-overflow:ellipsis; overflow: hidden; white-space: nowrap; }
.ariticle-list .meta { font-size: 14px; color: gray; }
.ariticle-list .meta a { color: gray; }
.ariticle-list .meta a:hover { color: #17375E; }
.ariticle-list .cover { height: 180px; text-align: center; padding-top: 5px; padding-bottom: 5px;}
.ariticle-list .cover>div { width: 100%; height: 100%; display: flex; align-items: center; }
.ariticle-list .abstract { color: #333; padding: 5px 0;}

.ariticle-detail article { padding: 10px; }
.ariticle-detail .cover { margin-top: 10px; }
.ariticle-detail .title { font-size: 24px; margin: 24px 0;}
.ariticle-detail .meta { font-size: 14px; color: gray; margin-bottom: 20px; }
.ariticle-detail .meta a { color: gray; }
.ariticle-detail .meta a:hover { color: #17375E; }

#comment { padding: 10px; }

.category-nav { border-bottom: 1px solid #e5e9ef; margin: 0 20px; padding-top: 20px; font-size: 15px;}
.category-nav li {display: inline-block;}
.category-nav a {padding: 3px 10px;}
.category-nav span {font-size: 10px; color: gray;}
.category-nav .on {border-bottom: 1px solid #17375E;}

.f-pagination { margin: 20px 0; text-align: center; }
.f-pagination a {
    display: inline-block; margin: 0 3px; line-height: 38px; width: 40px;
    text-align: center; border: 1px solid #ccc; border-radius: 4px;
    transition: all .2s ease-in-out;
}
.f-pagination a:hover { color: #17375E; border: 1px solid #17375E; }
.f-pagination .current-page { color: white; background-color: #17375E; }
.f-pagination .current-page:hover { color: white; border-color: #17375E; }
.f-pagination span { display: inline-block; font-size: 20px; line-height: 40px; padding: 0 8px; }

.widget { margin-bottom: 10px; }

/* ------------------------------------------------------------------------- */
/* -------------------------------------Footer------------------------------ */
/* ------------------------------------------------------------------------- */

footer { background-color:white; border-top: 1px solid #eee; }
.copy-right { text-align: center; padding-top: 20px; }

/* ------------------------------------------------------------------------- */
/* ------------------------------------Effects------------------------------ */
/* ------------------------------------------------------------------------- */

.zoom-container { overflow: hidden; }
.zoom-container img { transition: all .5s ease; }
.zoom-container:hover img { transform:scale(1.25); }

